* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: 'Inria Serif', serif;
}

.contact {
    width: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
}

.contact-image {
    width: 50%;
    height: 600px;
}

.contact-image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.contact-form {
    width: 50%;
    height: 600px;
    float: right;
    padding: 40px 25px 35px 25px;
    border-radius: 0 10px 10px 0;
    background-color: #ecf0f3;
}

.form h1 {
    text-align: left;
    margin-left: 23px;
    font-size: 28px;letter-spacing: 0.5px;
}

.contact-field {
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}

.contact-field input,
.contact-field textarea {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    width: 100%;
}

.contact-field textarea {
    height: 150px;
    resize: none;
}

.form-group {
    width: 46%;
    float: left;
    padding: 0 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.contact-field .form-group:last-child{
    width: 96%;
}

.submit-button {
    width: 96%;
    height: 60px;
    margin: 0 12px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    background-color: #ffb319;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
}

.submit-button:hover {
    background: #ff9b42;
    color: black;
}


/* Responsive css */
@media only screen and (max-width: 767px) {
    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contact-image,
    .contact-form {
        width: 100%;
        height: inherit;
        float: none;
        margin: 0;
        padding: 0;
    }

    .contact-image img{
        border-radius: 10px 10px 0 0;
        display: block;
    }

    .contact-form {
        border-radius: 0 0 10px 10px;
        padding: 25px;
    }

    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0;
    }

    .contact-field .form-group:last-child,
    .submit-button {
        width: 100%;
    }

    .submit-button {
        margin: 10px 0;
    }
}
